@import "./variables.scss";

.roomListItem {
  display: flex;
  flex-direction: row;
  background-color: $blueGray;
  margin: 10px 10px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  border-radius: 1rem;
  padding-left: 5px;

  .roomImage {
    border-radius: 100%;
    object-fit: cover;
    height: 100%;
  }

  .AS {
    width: 60px;
    height: 60px;
    color: $grayLight;
  }
  .imageContainer {
    //background-color: greenyellow;
    flex-grow: 0.01;
    display: flex;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    justify-content: center;
    margin-right: 5px;
  }

  .nameContainer {
    flex-grow: 1;
    h3 {
      color: $grayLight;
    }
    //background-color: goldenrod;
  }

  .roomInformation {
    // background-color: blueviolet;
    flex-grow: 0.07;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: $grayLight;

    .typeRoom {
      flex-grow: 3;
      display: inline-block;
      justify-content: baseline;
    }

    .usersNumber {
      //background-color: aquamarine;
      flex-grow: 1;
      display: inline-block;
      display: flex;
      justify-content: space-around;
      align-items: center;
      b {
        font-size: 20px;
      }
      .icon {
        font-size: 20px;
      }
    }
  }

  .buttonContainer {
    flex-grow: 0.1;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      width: 100px;
      height: 35px;
      font-size: 16px;
      border-radius: 0.8rem;
      border: none;
      cursor: pointer;
      transition: all 0.1s ease-in;
      background-color: $blue;
      color: white;
      &:hover {
        background-color: $blue;
        color: white;
      }
    }
  }
}
